:root{
    --color1: red;
    --color2: blue;
    --color3: white;
    --color4: #efefef;
}

body{
    padding: 20px;
}

.discovery-card{
    border: 1px solid red;
    border-radius: 5px;
}

.discovery-card .lines{
    background-color: var(--color1);
    height: 10px;
    border-radius: 5px 5px 0 0;
}

.discovery-card .lines span{
    background-color: var(--color2);
    height: 10px;
    width: 25%;
    display: block;
}

.discovery-card .content h2{
    display: flex;
    align-items:center;
    gap: 10px;
    flex-wrap: wrap;
}   

.discovery-card .content h2::before{
    content: "1";
    background-color: var(--color1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--color4);
}







