

.input-group{
    padding: 5px;
    background-color: rgb(96, 88, 88);
    display: inline-block;
    border-radius: 30px;
    position: relative;
}

.input-group input{
    border: 0;
    outline: 0;
    background: none;
    color: white;
}

.input-group button{
    border-radius: 30px;
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background-image:linear-gradient(90deg,rgb(7, 72, 72),rgb(17, 214, 86));
}

.input-group button:hover{
    background-image:linear-gradient(45deg,rgb(7, 72, 72),rgb(17, 214, 86));
}


