.kutu1{
    background-color: red;
    height: 200px;
}

.kutu2{
    background-color: blue;
    height: 200px;
}

.kutu3{
    background-color: teal;
    height: 200px;
}

.kutu4{
    background-color: khaki;
    height: 200px;
}

.kutu5{
    background-color: goldenrod;
    height: 200px;
}

.kutu6{
    background-color: royalblue;
    height: 200px;
}

.container{
    display: grid;
    grid-template-columns: 100px 100px 100px 500px;
}

.container1{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 100px 100px 1fr ;
}

.container2{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 10px 1fr 1fr ;
    column-gap: 10px;
    row-gap: 10px;
}
