

.primary{
    width: 80px;
    height: 38px;
    background-color: #0d6efd;
    color: white;
    border: 4px solid #0d6efd;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.primary:hover{
    background-color: #0b5ed7;
}

.secondary{
    width: 100px;
    height: 38px;
    background-color: #6c757d;
    color: white;
    border: 4px solid #6c757d;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.success{
    width: 80px;
    height: 38px;
    background-color: #198754;
    color: white;
    border: 4px solid #198754;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.danger{
    width: 78px;
    height: 38px;
    background-color: #dc3545;
    color: white;
    border: 4px solid #dc3545;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.warning{
    width: 85px;
    height: 38px;
    background-color: #ffc107;
    color: black;
    border: 4px solid #ffc107;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.info{
    width: 55px;
    height: 38px;
    background-color: #0dcaf0;
    color: black;
    border: 4px solid #0dcaf0;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.light{
    width: 61px;
    height: 38px;
    background-color: #f8f9fa;
    color: black;
    border: 4px solid #f8f9fa;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.dark{
    width: 59px;
    height: 38px;
    background-color: #212529;
    color: #fff;
    border: 4px solid #212529;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}